<a href="https://colab.research.google.com/github/chaidosa/100-days-of-DS/blob/main/Day_1_to_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 1: 
  ## Install and Set Up Python and Necessary Libraries for Data Science
In this Colab notebook, we will walk through the process of installing and setting up Python and the necessary libraries for data science. These libraries include NumPy, Pandas, and Matplotlib, which are essential tools for data manipulation, analysis, and visualization in Python.

### Step 1: Install Python
If you do not have Python installed on your machine, you can install it by following these steps:

Go to the Python official website at https://www.python.org/ and navigate to the "Downloads" section.
Choose the appropriate version of Python for your operating system (Windows, macOS, or Linux) and click on the download link.
Run the installer and follow the instructions to install Python on your machine.

### Step 2: Install NumPy
NumPy is a powerful library for numerical computing in Python. To install NumPy, you can use the following command in your Colab notebook:

In [ ]:
!pip install numpy

This command will download and install the latest version of NumPy from the Python Package Index (PyPI).

### Step 3: Install Pandas
Pandas is a popular library for data manipulation and analysis in Python. To install Pandas, you can use the following command

In [ ]:
!pip install pandas

This command will download and install the latest version of Pandas from PyPI

### Step 4: Install Matplotlib
Matplotlib is widely used library for data visualization in Python. To install Matplotlib you can use the following command:

In [ ]:
!pip install matplotlib

This command will download and install latest version of Matplotlib from PyPI

### Step 5: Importing Libraries
Once you have installed NumPy, Pandas and Matplotliv, you can import them into your Python code using the "import" statement. For example

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

This will allow you to usee functions and classes provided by these libraries in your data science projects.

With Python and the necessary libraries installed and imported, you're now ready to start exploring and analyzing data using the power of data science tools in Python!

### Conclusion
In this Day, we have learned how to install and set up Python and the necessary libraries for data Science, including Numpy, Pandas and Matplotlib. These libraries  are fundamental tools for data manupuation, analysis, and visualization in Python, and are widely used in the data science community. By following the steps outlines in this colad notebook, you can ensure that you have the necessary software and libraries installled to perform data science task effectively using Python. In the subsequent section/days of this notebook will dive deeper into these libraries and learn how to utilize then for various data science task.

#### We are just getting started and always remember this quote: "He who says he can and he who says he can't both are usually right"

# Day 2: Load and explore a dataset using Pandas
Welcome to Day 2! In this Colab notebook, we will learn how to load and explore a dataset using the Pandas library in Python. Pandas is a powerful tool for data manipulation and analysis, and is widely used in the data science community.

# Step 1: Load the Dataset
To load a dataset using Pandas, we can use the read_csv() function, which allows us to read data from a CSV (Comma Separated Values) file. Here's an example:

The read_csv() function is used to load a dataset from a CSV file. You can replace 'honda_sell_data.csv' with the appropriate file name or URL of your dataset

In [2]:
import pandas as pd

df = pd.read_csv('honda_sell_data.csv')
# here we are using honda sell data which can be downloaded from https://www.kaggle.com/datasets/omartorres25/honda-data?select=honda_sell_data.csv

###df.head() 
Returns the first few rows of the dataset for the quick overview

In [3]:
df.head()

,Year,Make,Model,Condition,Price,Consumer_Rating,Consumer_Review_#,Exterior_Color,Interior_Color,Drivetrain,...,Stock_#,Mileage,Comfort_Rating,Interior_Design_Rating,Performance_Rating,Value_For_Money_Rating,Exterior_Styling_Rating,Reliability_Rating,State,Seller_Type
0,2023,Honda,Ridgeline RTL,New,"$46,370",4.8,9,Platinum White Pearl,Beige,All-wheel Drive,...,00830164,10,5.0,4.8,4.8,4.2,5.0,5.0,CA,Dealer
1,2023,Honda,CR-V Hybrid Sport,New,"$34,150",1.7,24,Platinum White Pearl,Black,FWD,...,6402953,â€“,5.0,3.0,4.0,4.0,5.0,5.0,CA,Dealer
2,2023,Honda,CR-V Hybrid Sport,New,"$34,245",4.7,2869,Meteorite Gray Metallic,Black,Front-wheel Drive,...,PH704805,1,5.0,3.0,4.0,4.0,5.0,5.0,CA,Dealer
3,2022,Honda,Pilot TrailSport,New,"$46,500",5.0,12,Sonic Gray Pearl,Black,All-wheel Drive,...,5700429B,5,5.0,5.0,5.0,5.0,5.0,5.0,CA,Dealer
4,2023,Honda,CR-V Hybrid Sport Touring,New,"$40,395",4.4,12,Crystal Black Pearl,Black,All-wheel Drive,...,5705954,5,5.0,3.0,4.0,4.0,5.0,5.0,CA,Dealer

###df.info(): 
Provides information about the dataset, such as the number of rows, columns, data types, and missing values.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4999 entries, 0 to 4998
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     4999 non-null   int64
 1   Make                     4999 non-null   object
 2   Model                    4999 non-null   object
 3   Condition                4999 non-null   object
 4   Price                    4999 non-null   object
 5   Consumer_Rating          4999 non-null   float64
 6   Consumer_Review_#        4999 non-null   int64
 7   Exterior_Color           4988 non-null   object
 8   Interior_Color           4988 non-null   object
 9   Drivetrain               4988 non-null   object
 10  MPG                      3514 non-null   object
 11  Fuel_Type                4988 non-null   object
 12  Transmission             4988 non-null   object
 13  Engine                   4988 non-null   object
 14  VIN                      4988 non-null   object
 15  Stock_#                  4988 non-null   object
 16  Mileage                  4988 non-null   object
 17  Comfort_Rating           4447 non-null   float64
 18  Interior_Design_Rating   4447 non-null   float64
 19  Performance_Rating       4447 non-null   float64
 20  Value_For_Money_Rating   4447 non-null   float64
 21  Exterior_Styling_Rating  4447 non-null   float64
 22  Reliability_Rating       4447 non-null   float64
 23  State                    4926 non-null   object
 24  Seller_Type              4926 non-null   object
dtypes: float64(7), int64(2), object(16)
memory usage: 976.5+ KB

###df.describe(): 
Generates summary statistics for the numerical columns in the dataset, including count, mean, standard deviation, minimum, and maximum values

In [5]:
df.describe()

,Year,Consumer_Rating,Consumer_Review_#,Comfort_Rating,Interior_Design_Rating,Performance_Rating,Value_For_Money_Rating,Exterior_Styling_Rating,Reliability_Rating
count,4999.000000,4999.000000,4999.000000,4447.00000,4447.000000,4447.000000,4447.000000,4447.000000,4447.000000
mean,2020.507702,4.569654,1288.366673,4.81754,4.706814,4.663931,4.580976,4.731954,4.866269
std,3.711361,0.542453,1969.998095,0.25903,0.476941,0.351680,0.372107,0.313093,0.190886
min,1981.000000,1.200000,0.000000,3.80000,3.000000,3.600000,3.600000,3.900000,4.000000
25%,2019.000000,4.400000,126.000000,4.70000,4.700000,4.500000,4.200000,4.600000,4.800000
50%,2022.000000,4.700000,697.000000,4.90000,4.800000,4.800000,4.600000,4.800000,5.000000
75%,2023.000000,4.900000,1695.500000,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000
max,2023.000000,5.000000,29258.000000,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000

###df.shape:
 Returns the dimensions (rows and columns) of the dataset.

In [6]:
df.shape

(4999, 25)

###df.columns
Returns the column names of the dataset

In [7]:
df.columns

Index(['Year', 'Make', 'Model', 'Condition', 'Price', 'Consumer_Rating',
       'Consumer_Review_#', 'Exterior_Color', 'Interior_Color', 'Drivetrain',
       'MPG', 'Fuel_Type', 'Transmission', 'Engine', 'VIN', 'Stock_#',
       'Mileage', 'Comfort_Rating', 'Interior_Design_Rating',
       'Performance_Rating', 'Value_For_Money_Rating',
       'Exterior_Styling_Rating', 'Reliability_Rating', 'State',
       'Seller_Type'],
      dtype='object')

###df.dtypes
Returns the data types of each column in the dataset

In [8]:
df.dtypes

Year                         int64
Make                        object
Model                       object
Condition                   object
Price                       object
Consumer_Rating            float64
Consumer_Review_#            int64
Exterior_Color              object
Interior_Color              object
Drivetrain                  object
MPG                         object
Fuel_Type                   object
Transmission                object
Engine                      object
VIN                         object
Stock_#                     object
Mileage                     object
Comfort_Rating             float64
Interior_Design_Rating     float64
Performance_Rating         float64
Value_For_Money_Rating     float64
Exterior_Styling_Rating    float64
Reliability_Rating         float64
State                       object
Seller_Type                 object
dtype: object

In this section, we have learned how to load and explore a dataset using Pandas in Python. By leveraging Pandas' powerful data manipulation and analysis capabilities, we can gain insights into the data and prepare it for further analysis. In the next sections of this Colab notebook, we will dive deeper into data analysis techniques using Pandas to extract valuable information from the dataset. Stay tuned! 

Please practice try the experiments read the documents https://pandas.pydata.org/docs/ try exploring as much as you can

#Day 3: Clean and preprocess data
In this notebook, we will learn how to clean and preprocess data using Pandas in Python. We will cover common data cleaning tasks, such as handling missing values and data normalization, to ensure that our data is ready for analysis or visualization.

### Loading the dataset
For this example We'll load the 'iris' dataset from the Seaborn library

In [29]:
import seaborn as sns

iris_df = sns.load_dataset('iris')

The 'iris' dataset contain the information about the flower species setosa, Iris versicolor and Iris virginica. The dataseet include measurement for the length and width of the sepals and petals for each flower, as well as the corresponding species.

In [30]:
type(iris_df)

pandas.core.frame.DataFrame

In [31]:
# How many data points and features
iris_df.shape

(150, 5)

In [32]:
# what are the column in our dataset
iris_df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [33]:
# How many datapoints for each class are present
iris_df["species"].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [34]:
# Check for the missing values
iris_df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [35]:
# Drop rows with missing values
iris_df.dropna(inplace=True)

In [36]:
# Fill missing values with specific value or method
iris_df.fillna(value=0, inplace=True)

In [37]:
# Fill missing values with linear interpolation
iris_df.interpolate(inplace=True)

In [38]:
iris_df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica